.form-select {
    color: #c4f2ffb0 !important;
}

.form-select:hover {
    cursor: pointer !important;
    color: #61dafb !important;
}  

.form-select:hover option {
    color: #bba34c!important;
    background-color: #6c757d !important;
    cursor: pointer !important;
}

.nav-link {
    font-size: 1.1rem !important;
    padding: 1.1em 1.5em !important;
    color: #7a969eb0 !important;
    transition: color .1s ease-out !important;
}

.nav-link:hover {
    color: #61dafb !important;
}


