

footer {
    color: rgb(59, 59, 59) !important;
}

.nav-link {
    font-size: 1.1rem !important;
    padding: 0 !important;
    color: #d2eff7fa !important;
    transition: color .1s ease-out !important;
    padding: 1.1em !important;
}

.nav-link:hover {
    color: #61dafb91 !important;
    cursor: pointer !important;
}
