.App-logo {
    height: 50px;
    width: 50px;
    pointer-events: none;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    right: 1.5em; 
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 4s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.nav-link {
    font-size: 1.1rem !important;
    padding: 0 !important;
    color: #d2eff7fa !important;
    transition: color .1s ease-out !important;
    padding: 1.1em !important;
}

.nav-link:hover {
    color: #61dafb91 !important;
}